.buy-button{
    background-color: black;
    color:white;
    border-radius: 10px;
}


.container{
    margin-bottom: 100px;
    
}

.see{
    text-align: right;
    color:tomato;
}

.cat{
    text-align: center;
    text-decoration: underline;
}

.carousel{
    background-image: url("hot-gadgets/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.nav-item{
    margin-top: 0px;
}